= user_avar(object.user)
= link_to object.user.nick, user_profile_path(object.user)
= status_user(object.user)
- if user_signed_in?
  = link_to conversations_path(sender_id: current_user.id, receiver_id: object.user), method: :post do
    %i.far.fa-envelope-open

