/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

  $main_background: white;

 body {
   padding: 0px;
   margin: 0px;
   background: #659DBD;
 }

header {
  background: white;
}

.btn-orange {
  background: orangered;
  color: white;

  &:hover {
    background: transparent;
    color: orangered;
    border: 1px solid orangered;
    transition: 0.4ms;
  }
}

.text-orange {
  color: orangered;
}

.content { 
  flex: 0 0 50%;
}

.right-panel, .left-panel { 
  flex: 0 0 20%;
}

.panel_block { 
  background: white;
  border-radius: 2%;
}

$main_background: white;

.post {
  background:  $main_background;
  border: 1px solid silver;

  
}

.post__vote{
  background: gainsboro;
}

.alert {
  display: block;
  width: 30%;
  position: absolute;
  right: 1%;
}