// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.community_details, .community_rules, .community_moderation {
  background: white;
  border: 1px solid silver;
}

.community_rulex_hader,  .community_details__header, .community_moderation__header {
  background: rgb(36, 160, 237);
  color: rgb(255, 255, 255);
}
