// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment{
  background: white;
  margin-top: 2%;
  border-radius: 3px;
}