// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main_background: white;

.post {
  background:  $main_background;
  border: 1px solid silver;

  .post__vote{
    background: gainsboro;
  }

}
.create_post, .communities, .right-footer {
  background: $main_background;
  border-radius: 2%;
}

.content {
  flex-basis: 40%;
}

.right-panel {
  flex-basis: 22%;
}

.left-panel {
  flex-basis: 20%;
}