<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       body {
        padding: 0px;
        margin: 0px;
        background: #3FEEE6;
        }
        .container {
          margin: 2%;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
